<html>
    <head>
        <title>Hassi to Phasee</title>
        <link rel = "stylesheet" href = "bootstrap.min.css">
    </head>
    <body>
        <button class = "btn btn-primary">Click me</button>
    </body>