<html>
    <head>
        <link rel = "stylesheet" href = "/bootstrap.min.css">
        <link rel = "stylesheet" href = "/aboutUs.css">
       
    </head>
    <body>

        <div class = "container">
            <div class = "jumbotron">
              <h2> <%=heading%> </h2>
              <p><%=message%></p>
            <form action="/comedianForm">
                <button type = "submit" class = "btn btn-danger">Upload another video!</button>
            </form>
            <button class = "btn btn-success">
                Go to home page!
            </button>
            </div>
            </div>
    </body>
</html>