<html>
    <head>
        <link rel = "stylesheet" href = "bootstrap.min.css">
        <link rel = "stylesheet" href = "home.css">
    </head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">HassiToPhasi</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li style = "cursor: pointer;"><a href="/aboutUs">About Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
      





<div class="container">
    <div class="row" style="margin: auto;">
      <div class="col-md-6 col-xs-6 jumbotron" style = "margin:65px auto;">
        <h2 style="text-align: center;">
          Your Standup
          <br>
          Advisor
        </h2>
        <h4 style="text-align: center;">
          The only content analytics
          <br>
          platform.
        </h4>
        <p style="text-align: center;">
          <form action="/getStarted" method="GET" style="text-align: center;">
          <button class="btn btn-default btn btn-small"
            style="background-color: black; color:blanchedalmond; margin-top: 6px;" type="submit">Get Started</button></form>
        </p>
      </div>
      <div class="col-md-6 col-xs-6">
       <div id = "image">
        <img src="https://eventimages.insider.in/image/main/4ctur8ghQw6fhfJRbO4g_Abhishek_Upmanyu.jpg" class="img-responsive" style="max-height: 100%; width: auto;">
       </div>
      </div>
    </div>
  </div>
  </body>
  </html>