<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href = "/bootstrap.min.css">
</head>
<body>
	<h1>Model is running . Please wait for it to start!</h1>
	<h1>video selected : <%=video._id%></h1>
	<div class = "container" style = "margin : 50px auto; text-align: center;">
	<iframe width="560" height="315" src="<%=video.link%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</body>
</html>