<html>
    <head>
        <link rel = "stylesheet" href = "bootstrap.min.css">
        <link rel = "stylesheet" href = "testerLogin.css">
    </head>


    <body>



   



<div class = "container">
    <div style = "width:30%; margin: 40px auto;">
      <h1 style = "text-align: center; font-family: normal;"><strong>Tester Log In</strong></h1>
      <div style = "width: 100%; text-align: center;">
      <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAW2KEEBkFr4d1MdYsBk_vDy8jYS_JrCxV1_RIb4l6E1XB-t3fvQ&s" class = "avatar">
      </div>
  <form action = "/tester/pendingWork" method = "POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Tester ID</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Tester ID" name="testerID" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <div style= "width: 100%;">
    <button type="submit" class="btn btn-primary" style = "width:100%;">Submit</button>
  </div>
  </form>
  </div>
  </div>
  </body>
  </html>
