<div class="container">
  <div class="row" style="margin: auto;">
    <div class="col-md-6 col-xs-6 jumbotron" style = "margin:65px auto;">
      <h2 style="text-align: center;">
        Your Standup
        <br>
        Advisor
      </h2>
      <h4 style="text-align: center;">
        The only content analytics
        <br>
        platform.
      </h4>
      <p style="text-align: center;">
        <a routerLink='home'>
        <button class="btn btn-default btn btn-small"
          style="background-color: black; color:blanchedalmond; margin-top: 6px;">Get Started</button></a>
      </p>
    </div>
    <div class="col-md-6 col-xs-6">
     <div id = "image">
      <img src="https://eventimages.insider.in/image/main/4ctur8ghQw6fhfJRbO4g_Abhishek_Upmanyu.jpg" class="img-responsive" style="max-height: 100%; width: auto;">
     </div>
    </div>
  </div>
