<div class="container">
  <h2 style="color:crimson; font-family: georgia;"><strong>Welcome</strong></h2>
  <p style="color: crimson; font-family: georgia;">You have some work pending!!</p>
  <hr style="border-top: 3px solid black;">
  <div class="row" style ="display: flex; flex-wrap: wrap;">
    <div class="col-md-3 col-sm-6" *ngFor = "let video of xx">
      <a style = "cursor: pointer;">
      <div class = "thumbnail">
          <img src = "https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  class = "img-responsive">
          <div class = "caption">
            <h4>Abhishek Upmanyu</h4>
          </div>
      </div>
      </a>
    </div>
  </div>
</div>
