<h2 style = "text-align: center;"><strong>Forgot Password?</strong></h2>
<p style = "text-align: center;">Answer your security question to reset your password.</p>


<div class = "container">
<div style = "width:40%; margin: 20px auto;">
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@gmail.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select a security question</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Name of your first pet?</option>
        <option>Name of your grandfather/grandmother?</option>
        <option>Name of your first school?</option>
        <option>Name of the place where you were born?</option>
        <option>Name of your bestfriend?</option>
      </select>
    </div>
    <div class = "form-group">
      <label for="exampleFormControlInput1">Answer</label>
      <input type = "text" placeholder="Answer" class="form-control">
    </div>


    <div class = "row">


      <div class = "col-xs-5">

          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                I am a User
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                I am a comedian
              </label>
            </div>



      </div>
      <div class = "col-xs-7">
          <div style = "width: 100%;" class = "container">
              <button class = "btn btn-primary btn-lg" style="width:100%;">Submit.</button>
            </div>
      </div>


  </div>
  </form>
  </div>
  </div>
